<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ToDo内容変更</title>
    </head>
    <body>
        <div id="app">
            <p>内容更新</p>
            id: <input v-model="form.id">
            name: <input v-model="form.name">
            todo: <input v-model="form.todo">
            <button v-on:click="doUpdate">内容を更新</button>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="update.js"></script>
</html>