<!DOCTYPE html>

<html lang="ja">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>ToDoApp</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <p>新規登録欄</p>
                    <template>
                        <v-form>
                            <v-conteiner>
                                <v-row>
                                    <v-col cols="12" sm="4">
                                        Name
                                        <v-text-field
                                        v-model="createTodoForm.name"
                                        label="件名を入力"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        Todo
                                        <v-text-field
                                        v-model="createTodoForm.todo"
                                        label="内容を入力"
                                        >
                                            <template v-slot:append-outer>
                                                <v-btn dark rounded color="red" v-on:click="doAdd">新規登録</v-btn>
                                            </template>
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-conteiner>
                        </v-form>
                    </template>
                    <hr>
                    <p>内容更新欄</p>
                        <template>
                            <v-form>
                                <v-conteiner>
                                    <v-row>
                                        <v-col cols="12" sm="1">
                                            ID
                                            <v-text-field
                                            v-model="updateTodoForm.id"
                                            label="IDを入力"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="4">
                                            Name
                                            <v-text-field
                                            v-model="updateTodoForm.name"
                                            label="件名を入力"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="7">
                                            Todo
                                            <v-text-field
                                            v-model="updateTodoForm.todo"
                                            label="内容を入力"
                                            >
                                                <template v-slot:append-outer>
                                                    <v-btn dark rounded v-on:click="doUpdate">内容を更新</v-btn>
                                                </template>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-conteiner>
                            </v-form>
                    </template>
                    <hr>
                    <template>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Todo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="todo in todos" v-bind:key="todo.id">
                                        <td>No.{{ todo.ID }}</td>
                                        <td>{{ todo.Name }}</td>
                                        <td>{{ todo.Todo }}</td>
                                        <td><v-btn dark rounded v-on:click="doRemove(todo)">削除</v-btn></td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="index.js"></script>
    </body>
</html>