<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ToDo一覧</title>
    </head>
    <body>
        <div id="app">
            <p>新規登録欄</p>
            name: <input v-model="form.name" placeholder="件名を入力">
            todo: <input v-model="form.todo" placeholder="内容を入力">
            <button v-on:click="doAdd">新規登録</button>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Todo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list" v-bind:key="item.id">
                        <td>No.{{ item.ID }}</td>
                        <td>{{ item.Name }}</td>
                        <td>{{ item.Todo }}</td>
                        <td><button v-on:click="doRemove(item)">削除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
        <script src="../conversion.js"></script>
    </body>
</html>